.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  flex: 1 1;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  width: 30%;
  align-self: center;
  gap: 1rem;
  background-color: white;
  box-shadow: 8px 10px 5px -6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 8px 10px 5px -6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 8px 10px 5px -6px rgba(0, 0, 0, 0.23);
}

.title {
  margin: auto;
}
